.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
  }
  
  .carousel .carousel-indicators .active {
    background-color: #444;
  }
.jumbotron {
    background-color:rgb(173, 160, 155);
}

body {
    background-color:rgb(173, 160, 155);
}

.america {
    background-image:url("https://cdn.pixabay.com/photo/2012/04/10/16/22/united-26177_1280.png");
    background-size:cover;
    
}

.france {
    background-image:url("https://cdn.pixabay.com/photo/2012/04/11/15/19/france-28463_1280.png");
    background-size:cover;
    
}

.canada {
    background-image:url("https://cdn.pixabay.com/photo/2012/04/10/23/27/canada-27003_1280.png");
    background-size:cover;
    background-position: 100%;
}
.mexico {
    background-image:url("https://cdn.pixabay.com/photo/2012/04/10/23/24/mexico-26989_1280.png");
    background-size:cover;
    background-position: 100%;

}
.bahamas {
    background-image:url("https://cdn.pixabay.com/photo/2013/07/13/14/14/bahamas-162236_1280.png");
    background-size:contain;
    background-size: 100% 100%;
}


.costa_rica {
    background-image: url("https://cdn.pixabay.com/photo/2015/11/12/16/23/flag-1040572__480.png");
    background-size:contain;
    background-size: 100% 99%;

}

p {
    color:black;
    font-size:18px;
}

.item {
    height:600px;
}
.img-circle{
    height:500px;
    max-width:500px;
}

#img {
    height:220px;
}

footer {
    background-color:black;
    color:white;
}

nav {
    font-size: large;
}

.thumbnail img{
    width: 100%;
    height: 100%;
}

 ul li {
     font-size: large;
 }

 ol li {
    font-size: large;
 }
 
 li {
     font-weight: 500;
 }

 h3 {
     color:black;
     font-weight: bolder;
     text-decoration: underline;
 }
footer h3 {
    color:white;
    text-decoration: none;

}
 .page-header h1 {
    color:black;
    font-weight: bolder;
    text-decoration: underline;
}
h1 {
    color:black;
    font-weight: bolder;
    text-decoration: underline;
}

#home-header {
    text-decoration: none;
}
